* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
   }

   html{
    font-size: 62,5%;
    
   }
  
   :root {
    --white: #FFFFFF;
    --black: #000000;
    --gris: #534741;
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    --naranja: #ff8800;
    --purpura: #4C0033;
    --verdeSuabe: #91F57D;
    --rojo:#FF6767;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
    
  }

  
   body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Quicksand', sans-serif;
   }

   nav {
    width: 100%;
    color:var(--white);
    background: linear-gradient(45deg,var(--purpura),var(--naranja),var(--purpura),var(--naranja),var(--purpura));
    background-size:  400% 400%;
    position: relative;
    animation: cambiar 7s ease infinite;
   }
   .contenedor_1 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: .5rem;
        padding-bottom: .5rem;
        margin: .5rem;    
   }


   .logo {
        padding: 0;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
   }

   .logo a {
    position: absolute;
    margin-left: 10px;
    width: 130px;
    height: 130px;
    border-radius: 100px;
   }

   .simbolo_almacen {
    width: 150px;
    height: 150px;
    padding: .5rem;
    margin-left: auto;
    margin-right: auto;
   }

   .titulo {
      font-size: 50px;
      font-weight: 10;
      color: var(--white);
      padding-bottom: 1rem;
   }

   .menu {
        list-style: none;
        padding: 0;
        margin: 0 1rem 0 0;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        align-items: center;
       
        
   }

   .menu ul{
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        
   }

   .menu ul li {
    margin-top: 1rem;
    margin-left: .5rem;
    margin-right: .5rem;
   }
   
   .menu ul li a {
        text-decoration: none;
        color: var(--white);
        border: 1px solid var(--white);
        padding: 8px;
        border-radius: 8px;
        box-shadow: 0px 4px 8px rgba(89, 73, 30, .5);
   }

   .menu ul li a:hover {
     border: 1px solid var(--purpura);
     color: var(--purpura);
     background-color: var(--naranja);
   }

        .buttonCarrito {
        text-decoration: none;
        background-color: transparent;
        color: var(--white);
        border: 1px solid var(--white);
        padding: 9px;
        font-size: 14px;
        border-radius: 8px;
        box-shadow: 0px 4px 8px rgba(89, 73, 30, .5);
        }

        .buttonCarrito:hover {
          border: 1px solid var(--purpura);
          color: var(--purpura);
          background-color: var(--naranja);
        }


   .menu ul li img {
     width: 5rem;
     height: 5rem;
     margin-bottom: .5rem;
   }

    .item {
        width: 6rem;
        height: 6rem;
        margin-bottom: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /*Aqui agrego la parte del menu desplegable del carrito 29/12/2022*/
    
    
    .productDetail {
        width: 360px;
        padding: 24px;
        box-sizing: border-box;
        position: absolute;
        right: 0;
        background-color: var(--white);
        border-radius: .5rem;
        border: .12rem solid var(--purpura);
        z-index: 5;
      }
      
      /*inactivo para que desaparezca el menu desplegable 30/12/2022*/
        .inactive {
             display: none;
        }
      /*inactivo para que desaparezca el menu desplegable 30/12/2022*/
      .title-container {
        display: flex;
        padding-bottom: 1rem;
      }
      .title-container img {
        transform: rotate(180deg);
        margin-right: 14px;
      }
      .title {
        font-size: var(--lg);
        font-weight: bold;
        color: var(--gris);
      }
   
      .myOrderContent {
             height: 35vh;
             overflow-y: scroll;
             overscroll-behavior-y: none;
             scroll-snap-type: y proximity;
      }
      .order {
        height: 2rem;
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 16px;
        align-items: center;
        background-color: var(--naranja);
        margin-top: 24px;
        margin-bottom: 24px;
        border-radius: 8px;
        padding: 0 10px;
      }
      .order p:nth-child(1) {
        display: flex;
        flex-direction: column;
      }
      .order p span:nth-child(1) {
        color: var(--black);
        font-size: 25px;
        font-weight: bold;
      }
      .order p:nth-child(2) {
        color: var(--gris);
        text-align: end;
        font-weight: bold;
      }
      .shopping-cart {
        display: flex;
        justify-content: space-between;
        margin: 10px;
        align-items: center;
      }

      .textoNombre {
        padding: 10px;
      }
      .shopping-cart figure {
        margin: 0;
      }
      .shopping-cart figure img {
        width: 70px;
        height: 70px;
        border-radius: 20px;
        object-fit: cover;
      }
   
      .carritoFigure {
        margin: 0px;
      }
      .div-crus-menu1{
        display: flex;
        justify-content: center;
        align-items: center;
      }
   
      .crus {
        position: relative;
          height: 25px;
          width: 25px;
      }
      .boton-crus {
        height: 1.5rem;
        width: 1.5rem;
        border-radius: 1rem;
        margin: 0 10px;
      }
   
      .shopping-cart p:nth-child(2) {
        color: var(--gris);
      }
   
      .shopping-cart p:nth-child(3) {
        font-size: var(--md);
        font-weight: bold;
        color: var(--gris);
      }
      .primary-button {
        background-color: var(--naranja);
        border-radius: 8px;
        border: none;
        color: var(--white);
        width: 100%;
        cursor: pointer;
        font-size: var(--md);
        font-weight: bold;
        height: 50px;
      }
      .primary-button:hover {
        border: 1px solid var(--purpura);
        color: var(--purpura);
        background-color: var(--naranja);
      }
   
      .carrito {
        cursor: pointer;
      }

    .Carritofigure {
      display: relative;
    }
      .itemCarritoImg {
        display: relative;
      }
      .contenedorCantidadCarrito {
        position: relative;
        top: -68px;
        left: 5px;
      }

      .cantidadCarrito {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 20px;
      height: 20px;
      background-color: var(--naranja);
      border-radius: 1rem;
      font-weight: bold;
      color: var(--black);
      }
   
        /*Aqui termina la parte del menu desplegable del carrito 29/12/2022*/
   

    .padre {
     width: 100wh;
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
     padding: 1rem;
     z-index: 1;
    }

    .contenedorConfirmacion {
      width: 750px;
      
    }

    .contenedorItemDeConfirmacion {
      border: solid 1px;
      border-radius: 5px;
      margin: 4px 0 4px 4px ;
      
    }
    
    .divisionDeMain {
      display: flex;
      justify-content: center;
      width: 100%;
      flex-wrap: wrap;
 
    }

    .tituloBoton {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: var(--purpura);
      margin: 20px 0px;
      border-radius: 5px;
      cursor: pointer;
      min-width: 300px;
    }

    .tituloBoton:hover {
      border: 1px solid var(--purpura);
      color: var(--purpura);
      background-color: var(--naranja);
    }

    .tituloDeConfirmacion {
      padding: 10px;
      border-radius: 10px;
      color: var(--white);
    }
    
    .imagenCarritoTiulo {
      width: 100px;
      height: 100px;
      padding: 10px;
    }

      .activar {
        display: none;
      }


      .nombreItemsConfirmacion {
        margin: 7.5px;
      }
      
      .menuDeConfirmacion{
        height: 42vh;
        overflow-y: scroll;
        overscroll-behavior-y: none;
        scroll-snap-type: y proximity;
      }

      .divDeSeparacionDeConfirmacion{
        width: 200px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--rojo);
        border-radius: 5px;
        margin-bottom: 10px;
        margin-left: 10px;
      }

      .boton-tilde {
        height: 1.5rem;
        width: 1.5rem;
        border-radius: 1rem;
        margin: 0 10px;
      }


      .formulario {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        min-width: 300px;
        margin: 10px;
        background-color: var(--purpura);
        border-radius: 10px;
      }

      .inputName {
        display: flex;
        width: 300px;
        margin: 10px;
        padding: 10px;
        background-color: var(--naranja);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
      }

      .nombreCompleto {
        font-size: 25px;
        padding: 5px;
      }

      .inputNombre {
        width: 250px;
        font-size: 25px;
        border-radius: 5px;
      }

      .inputHorarioDia {
        width: 250px;
        font-size: 20px;
        
        border-radius: 5px;
      }

      .formularioButton {
        width: 250px;
        height: 50px;
        border-radius: 5px;
        font-size: 25px;
        color: var(--white);
        text-shadow: 1px 1px 1px #000;
        background-color: var(--purpura);
        cursor: pointer;
      }

      .formularioButton:hover {
        border: 2px solid var(--purpura);
        color: var(--white);
        background-color: var(--naranja);
        
      }

      .carts_visual {
        position: relative;
        width: 25rem;
        max-width: 25rem;
        min-width: 12rem;
        height: 45vh;
        margin: 1rem 1rem 1rem 1rem;
        padding: auto;
        border: 1px solid var(--purpura);
        border-radius: 8px;
      }

      .carts_visual:before {
              content: "";
              width: 100%;
              height: 100%;
              position: absolute;
              top: 0;
              right: 0;
              background: linear-gradient(90deg,rgba(0,0,0,0.9) 50%,rgba(255,255,255,0)80%);
              z-index: 2;
              border-radius: .3rem;
        }
        
         .img_visual {
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            border-radius: .3rem; 
            z-index: 1;
        }
        .text_visual {
            display: flex;
            flex-direction: column;
            width: 10rem;
            height: 40vh;
            border: 1px solid var(--purpura);
            border-radius: 8px;
            margin: 1rem;
            text-align: center;
            position: relative;
            z-index: 9;
         }
          .p1_visual {
             color: var(--white);
             font-weight: bold;
             background-color: var(--purpura);
             border: 1px solid var(--purpura);
             border-radius: 8px;
             text-align: center;
             padding: 5px;
             margin: 5px;
             font-size: 20px;
             box-shadow: 0px 4px 8px rgba(89, 73, 30, .5);
          }
        
                  .logo_visual {
                    height: 70px;
                   padding: .5rem .5rem 0 .5rem;
                  }

                  .logo_visual_luvianka{
                    width: 65%;
                    margin: 0 auto;
                    padding-top: .5rem;
                  }

                  .logo_visual_queso{
                    width: 65%;
                    margin: 0 auto;
                  }

                  .logo_visual_queso_punta{
                    width: 65%;
                    margin: 0 auto;
                    padding-top: .5rem;

                  }

               .precio1_visual {
                 font-size: 1.5rem;
                 color:var(--white);
                 margin-top: auto;
               }

                .precio2_embutido{
                    font-size: 2rem;
                    color: var(--white);
                }

                .p2_embutido {
                    font-size: 1.25rem;
                    color: var(--white);
                }


             .pcompra_visual {
              text-decoration: none;
              font-size: 1.25rem;
              color: var(--white);
              border: 1px solid var(--white);
              padding: 8px;
              margin: 0 20px 20px 20px;
              text-align: center;
              border-radius: 8px;
              margin-top: auto;
              box-shadow: 0px 4px 8px rgba(89, 73, 30, .5);
              background-color: rgba(0,0,0,.1);
              z-index: 10;
              cursor: pointer;
              }
              .pcompra_visual:hover {
                border: 1px solid var(--purpura);
                color: var(--purpura);
                background-color: var(--naranja);
               }

            ::-webkit-scrollbar {
                width: 12px;
            }
            ::-webkit-scrollbar-track {
                border: 3px solid var(--purpura);
                border-radius: 10px;
                box-shadow: inset 0 0 2.5px 2px rgba(red, green, blue, alpha);
            }
            ::-webkit-scrollbar-thumb {
                background: linear-gradient(to right,var(--naranja),var(--purpura),var(--naranja));
                border-radius: 6px;
            }




   .contenedor_footer {    
    width: 100%;
    color: var(--white);
    background: linear-gradient(45deg,var(--naranja),var(--purpura),var(--naranja),var(--purpura),var(--naranja));
    background-size:  400% 400%;
    position: relative;
    animation: cambiar 7s ease infinite;
    margin-top: 9px;
   }
   .contenedor_abajo {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 0 25px 0 0;
        padding: 1rem;
        margin: .5rem;  

   }
   .localizacion {
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        height: 60px;
        
   }
   .localizacion img {
     width: 3rem;
     height: 3rem;
   }
   .localizacion a {
        text-decoration: none;
        color:var(--white);
        padding: 8px;
        border-radius: 8px;
   }

   .redes {
        padding: 0;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        min-height: 60px;
        max-height: 220px;
   }
   
   .redes1 {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        text-decoration: none;
        list-style: none;
   }
   .redes a{
        padding: 0 24px 0 0;
   }

   .reds ul 
   {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
   }
   .redes ul li p {
        color: var(--white);
        padding: 8px;
        border-radius: 8px;
   }
   .redes ul li a {
        text-decoration: none;
        color:var(--white);
        padding: 8px;
        border-radius: 8px;
   }


   .redes ul li img {
     width: 3rem;
     height: 3rem;
   }

   .red-sociales {
        width: 6rem;
        height: 6rem;
   }

   .red3 {
    display: flex;
    align-items: center;
    margin: auto;
    margin: 1rem 0 1rem 0;

   }

   .whatsapp {
    display: flex;
    align-items: center;
    margin: 16px 0 16px 0;
   }

   .whatsapp img {
     width: 3rem;
     height: 3rem;
   }

   .whatsapp p {
        color:var(--white);
        padding: 8px;
        border-radius: 8px;
   }

   @keyframes cambiar{
    0%{background-position: 0 50%;} 
    50%{background-position: 100% 50%;}
    100%{background-position: 0 50%;}
   }

   /*Aqui COMIENZA EL @MEDIA DE la parte del menu desplegable del carrito 29/12/2022*/

   @media (max-width: 640px) {
     .product-detail {
       width: 100%;
     }
   }

   /*Aqui termina EL @MEDIA DE la parte del menu desplegable del carrito 29/12/2022*/


